


@import url('https://fonts.googleapis.com/css?family=Orbitron');

/* Custom Cursor */
/* .cursor {
  z-index: 2;
  width: 10px;
  height: 10px;
  background-color: #93ef09;
  border-radius: 50%;
  position: absolute;
} */

/* actual colors: 
	#825ce9
	#050013
	text-shadow: 1px 0px 17px #ADADE9;
*/

/* #smile, .playing-screen {
	-webkit-box-shadow: 0px 0px 16px 6px #51eb36;
	-moz-box-shadow: 0px 0px 16px 6px #51eb36;
	box-shadow: 0px 0px 16px 6px #51eb36;
} */


body {
	font-family: 'Orbitron', sans-serif;
  margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100%;
}

#banner {
	font-size: 4em;
	text-shadow: 1px 0px 17px #5ddf21;
}

.start-screen, .game-screen, .error-screen {
	color: #93ef09;
  background-color: #001200;
  margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}

.start-screen {
	display: flex;
}

.game-screen, .error-screen {
	display: none;
}

.error-screen {
	color: #ff0000;
	background-color: #120000;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#start-btn, #stop-btn {
	padding: 5px;
	border: 1px solid #78bf0d;
	border-radius: 5%;
	z-index: 6;
	width: 100px;
	text-align: center;
}

#start-btn:hover {
	color: #000000;
	background-color: #78bf0d;
	opacity: .6;
}

#stop-btn:hover {
	color: #000000;
	background-color: #78bf0d;
	opacity: .6;
}

#smile {
	border: 1px solid #78bf0d;
	height: 500px;
	width: 800px;
	margin: 40px auto;
	text-shadow: none;
}

#frown {
	width: 300px;
	height: 300px;
	margin: 50px auto;
}

.playing-screen {
	border: 1px solid #93ef09;
	height: 500px;
	width: 800px;
	margin: 40px auto;
	background-color: #0b1300;
}

.error-screen #banner {
	text-shadow: 1px 0px 17px red;
}

.target {
	z-index: 3;
  width: 30px;
  height: 30px;
  background-color: #b5a1ff;
  border-radius: 50%;
	position: absolute;
	transition-duration: 1000ms;
	-webkit-box-shadow: 0px 0px 19px 12px #7e7ee0;
	-moz-box-shadow: 0px 0px 19px 12px #7e7ee0;
	box-shadow: 0px 0px 19px 12px #7e7ee0;
}

.target:hover {
	transition-duration: 300ms;
	background-color: #d6cdf3;
	-webkit-box-shadow: 0px 0px 19px 12px #ade9c6;
	-moz-box-shadow: 0px 0px 19px 12px #adade9;
	box-shadow: 0px 0px 19px 12px #adade9;
}

#wink {
	display: none;
}

@keyframes linerise {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(50%)
	}
}




